@charset "UTF-8";

.container {
    padding: 0 10px;
}

/* MENU */
.container .header .menu-wrap {
	text-align: right;
}

.container .header .menu-wrap a.menu {
    font-size: 13px;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    margin-right: 5px;
}
.container .header .menu-wrap a.menu:hover {
	color: #878787;
	text-decoration: underline;
}

.container .header .main-wrap {
	margin: 10px 0;
}

/* DUMMY */
.dummy {
	border: 1px solid #a1a1a1;
    background: #efefef;
    text-align: center;
    color: #505050;
}