@charset "UTF-8";

.contents .login-wrap {
    width: 500px;
    margin: 0 auto;
    border: 1px solid #838383;
    padding: 30px 20px;
}

.contents .login-wrap .login input {
    width: 100%;
    padding: 3px 5px;
    margin-bottom: 5px;
    height: 30px;
    box-sizing: border-box;
}

.contents .login-wrap .login .alarm {
	font-size: 12px;
	color: red;
	display: none;
	margin-bottom:5px;
}

.contents .login-wrap .login .login-button {
	text-decoration: none;
	border: 1px solid #a1a1a1;
    background: #efefef;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin: 20px 0;
    color: #000;
}
.contents .login-wrap .login .login-button:hover {
	background: #dfdfdf;
}

.contents .login-wrap .sub-menu {
	text-align: center;
}

.contents .login-wrap .sub-menu a.menu {
	font-size: 13px;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    margin-right: 5px;
}
.contents .login-wrap .sub-menu a.menu:hover {
	color: #878787;
	text-decoration: underline;
}